<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tracking system</title>
</head>
<body>

    <header th:fragment="header">
        <nav>
            <div>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/supplier-find">Find supplier</a>
                    </li>
                    <li>
                        <a href="/supplier-add">Add supplier</a>
                    </li>
                    <li>
                        <a href="/material-add">Add material</a>
                    </li>
                </ul>

            </div>
        </nav>
    </header>

</body>
</html>