<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tracking system</title>
</head>
<body>
<div th:replace="fragments/fragments::header"></div></div>
<div>
    <h2  style="padding: 20px" th:text="|Materials in stock: |"></h2>
    <div style="padding: 20px" th:each="material : ${materials}" th:object="${material}" class="mt-3 rounded badge-info p-3">
        <span th:text=" |Material: *{name}|"  class="p-3">Name</span>
        <br>
        <span  th:text="|Quantity: *{mole} | " class="p-3">Mole</span>
        <br>
        <a th:href="@{/supplier-profile/{id}(id = *{supplier.id})}" th:text="|Supplier: *{supplier.supplierName}|" class="p-3">Supplier</a>
        <br>
        <div style="margin-top: 10px">
        <a style="margin-bottom: 5px" class="ml-3 p-3 text-warning" th:href="@{/delete-material/{id}(id = *{id})}">Delete</a>
        <br>
        <a class="ml-3 p-3 text-warning" th:href="@{/material-update/{id}(id = *{id})}">Update</a>
        </div>
    </div>
</div>
</body>
</html>
